body{
    background-color: lightgreen;
    transition: background-color .5s;
    margin:0px;
    padding:0px;
}


.player{
    height:95vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.details{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.track-art{
    margin: 25px;
    height: 250px;
    width: 250px;
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/715jDsCcblL.png");
    background-size: cover;
    background-position: center;
    border-radius: 15%;
}



.now-playing{
    font-size: 1em;
}

.track-name{
    font-size: 3em;
}

.track-artist{
    font-size: 1.5em;
}

.buttons{
    display:flex;
    align-items: center;
    flex-direction:row;
}

.playpause-track,
.prev-track,.next-track
{
    padding:25px;
    opacity:0.8;

    transition: opacity 1s;
}

.slider-container{
    width:75%;
    display:flex;
    justify-content:center;
    align-items:center;
    max-width:400px;

}

.seek-slider , .volume-slider{
    -webkit-appearance: none;
    -moz-appearence:none;
    appearance: none;
    height:5px;
    background: black;
    -webkit-transition: .2s;
    opacity:0.7;
    transition:opacity 0.2s;
}

.seek-slider::-webkit-slider-thumb ,
.volume-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearence:none;
    appearance: none;
    height:15px;
    width:15px;
    background: red;
    cursor:pointer;
    border-radius:50%;
}

.seek-slider:hover , .volume-slider:hover{
    opacity:1;
}

.seek-slider{
    width:60%;
}

.volume-slider{
    width: 30%;
}

.current-time , .total-duration{
    padding:10px;
}

i.fa-volume-down , i.fa-volume-up{
    padding:10px;
}

i.fa-play-circle , i.fa-pause-circle , 
i.fa-step-forward , i.fa-step-backward , .volume-up
{
   cursor:pointer;
}

